.selected-color {
    background-color: #7dbb32;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px #999;
}

.unselected-color {
    background-color: #c5df9d;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
