.launch-list-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.launch-list-body {
    background-color: #f2f2f2;
    min-height: 100%;
    padding: 30px;
}

.launch-list-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}

.launch-list-content {
    display: flex;
}

.launch-list-filter {
    width: 276px;
}

.launch-list-cards {
    width: 80%;
}

.launch-list-footer {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .launch-list-content {
        display: block;
    }

    .launch-list-filter {
        margin: auto;
    }
    
    .launch-list-cards{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 335px) {
    .launch-list-filter {
        margin: auto;
        width: 100%
    }
}